{% extends 'base.html' %}

{% block title %}
Загрузка CSV файла
{% endblock %}

{% block body %}
<h1 class="center">Загрузка CSV файла</h1>
    <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data" class="form-control">
        <input type="file" name="file" class="form-control"><br>
        <button type="submit" class="btn btn-success">Загрузить</button>
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<h4 class="center">Инструкция</h4>
<pre>Файл должен содержать поля:
total_kdsi — количество строк исходного кода в тысячах (KDSI).
aaf — Adjusted Application Factor, коэффициент, корректирующий сложность проекта.
rely — показатель надежности системы (чем выше, тем система должна быть надежнее).
data — объем данных, который обрабатывает система.
cplx — показатель сложности программного обеспечения.
time — время отклика системы или требования по производительности.
stor — требования к объему памяти (влияют на сложность).
virt — требования к виртуальной машине (виртуальная среда выполнения программы).
turn — время отклика системы, важное для приложений реального времени.
acap — способности аналитиков, влияющие на производительность проекта.
aexp — опыт аналитиков (чем больше, тем лучше).
pcap — способности программистов, их квалификация.
vexp — опыт работы с виртуальными машинами.
lexp — опыт использования языка программирования, на котором пишется проект.
modp — использование современных методов и подходов к разработке.
tool — использование инструментов разработки (чем больше, тем выше производительность).
sced — фактор, влияющий на соблюдение сроков проекта.
effort — итоговая оценка трудозатрат в человеко-месяцах.</pre>

{% endblock %}

